<div id='hazel-bio' class='villager-bio hidden'>
  <p class='name'>Hazel</p>
  <p>Species: Squirrel</p>
  <p>Personality: Sisterly (Uchi)</p>
  <p>Gender: Female</p>
  <p>Birthday: August 30th (Virgo)</p>
  <p>Quote: "Never say never!"</p>
  <p>Catchphrase: "uni-wow"</p>
</div>
