<div id='pango-bio' class='villager-bio hidden'>
  <p class='name'>Pango</p>
  <p>Species: Anteater</p>
  <p>Personality: Peppy</p>
  <p>Gender: Female</p>
  <p>Birthday: November 9th (Scorpio)</p>
  <p>Quote: "A thing of beauty is a joy forever."</p>
  <p>Catchphrase: "snooooof"</p>
</div>
