<div id='poppy-bio' class='villager-bio'>
  <p class='name'>Poppy</p>
  <p>Species: Squirrel</p>
  <p>Personality: Normal</p>
  <p>Gender: Female</p>
  <p>Birthday: August 5th (Leo)</p>
  <p>Quote: "It's all about positive thinking!"</p>
  <p>Catchphrase: "nutty"</p>
</div>
