<div id='sterling-bio' class='villager-bio hidden'>
  <p class='name'>Sterling</p>
  <p>Species: Eagle</p>
  <p>Personality: Jock</p>
  <p>Gender: Male</p>
  <p>Birthday: December 11th (Sagittarius)</p>
  <p>Quote: "Discretion is the better part of valor."</p>
  <p>Catchphrase: "skraaaaw"</p>
</div>
